In [558]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [559]:
df_train=pd.read_excel('Final_Train.Xlsx')

In [560]:
df_test=pd.read_excel('Final_Test.Xlsx')

In [561]:
df_train.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [562]:
df_test.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...

In [563]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5961 entries, 0 to 5960
Data columns (total 7 columns):
Qualification         5961 non-null object
Experience            5961 non-null object
Rating                2659 non-null object
Place                 5936 non-null object
Profile               5961 non-null object
Miscellaneous_Info    3341 non-null object
Fees                  5961 non-null int64
dtypes: int64(1), object(6)
memory usage: 326.1+ KB

In [564]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 6 columns):
Qualification         1987 non-null object
Experience            1987 non-null object
Rating                897 non-null object
Place                 1981 non-null object
Profile               1987 non-null object
Miscellaneous_Info    1153 non-null object
dtypes: object(6)
memory usage: 93.2+ KB

In [565]:
df_train.isnull().sum()

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64

In [566]:
df_test.isnull().sum()

Qualification            0
Experience               0
Rating                1090
Place                    6
Profile                  0
Miscellaneous_Info     834
dtype: int64

In [567]:
df_train['Rating'].fillna('0%',inplace = True)
df_train['Rating'] = df_train['Rating'].str.slice(stop=-1).astype(int)

In [568]:
df_test['Rating'].fillna('0%',inplace = True)
df_test['Rating'] = df_test['Rating'].str.slice(stop=-1).astype(int)

In [569]:
df_train.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,0,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,0,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [570]:
df_train['Place'].unique()

array(['Kakkanad, Ernakulam', 'Whitefield, Bangalore',
       'Mathikere - BEL, Bangalore', 'Bannerghatta Road, Bangalore',
       'Keelkattalai, Chennai', 'Porur, Chennai', 'Karol Bagh, Delhi',
       'Arekere, Bangalore', 'Old City, Hyderabad', 'Athani, Ernakulam',
       'Thousand Lights, Chennai', 'Somajiguda, Hyderabad',
       'Coimbatore Racecourse, Coimbatore', 'Jubilee Hills, Hyderabad',
       'Kondli, Delhi', 'Saroor Nagar, Hyderabad',
       'Tambaram West, Chennai', 'Purasawakkam, Chennai',
       'KPHB, Hyderabad', 'HSR Layout, Bangalore', 'Pollachi, Coimbatore',
       'Vasundhra Enclave, Delhi', 'Chembur, Mumbai',
       'Thammanam, Ernakulam', 'Andheri, Mumbai',
       'Pattom, Thiruvananthapuram', 'Kukatpally, Hyderabad',
       'Vadavalli, Coimbatore', 'Defence Colony, Delhi',
       'Banjara Hills, Hyderabad', 'Sion West, Mumbai', 'CR Park, Delhi',
       'Mogappair East, Chennai', 'IP Extension, Delhi',
       'Safdarjung Enclave, Delhi', 'New Friends Colony, Delhi',
       'Borivali West, Mumbai', 'Saket, Delhi', 'Malad, Mumbai',
       'Hyder Nagar, Hyderabad', 'Dahisar West, Mumbai',
       'RT Nagar, Bangalore', 'Powai, Mumbai', 'Basheerbagh, Hyderabad',
       'Musheerabad, Hyderabad', 'AS Rao Nagar, Hyderabad',
       'Madhapur, Hyderabad', 'Gandhinagar, Hyderabad',
       'Chetpet, Chennai', 'Vileparle East, Mumbai',
       'Yelahanka New Town, Bangalore', 'Kodambakkam, Chennai',
       'Malleswaram, Bangalore', 'Pallikaranai, Chennai',
       'Nallakunta, Hyderabad', 'Paschim Vihar, Delhi',
       'Meera Bagh, Delhi', 'Chattarpur, Delhi', 'Andheri West, Mumbai',
       'Himayat Nagar, Hyderabad', 'Adambakkam, Chennai',
       'Punjabi Bagh, Delhi', 'Mahalaxmi, Mumbai', 'Kalina, Mumbai',
       'Attapur, Hyderabad', 'Lakdikapul, Hyderabad', 'Ambattur, Chennai',
       'Ramnagar, Coimbatore', 'Shalimar Bagh, Delhi',
       'Nungambakkam, Chennai', 'Miyapur, Hyderabad', 'Sagarpur, Delhi',
       'Girgaon, Mumbai', 'Jayanagar, Bangalore',
       'Palayam, Thiruvananthapuram', 'Munirka, Delhi',
       'Tuglakabad, Delhi', 'Moosarambagh, Hyderabad', nan,
       'Anna Nagar East, Chennai', 'Bandra West, Mumbai',
       'Kanakpura Road, Bangalore', 'Green Park, Delhi',
       'Maduravoyal, Chennai', 'Dahisar East, Mumbai',
       'Moosapet, Hyderabad', 'Koramangala, Bangalore',
       'TV Medical College, Thiruvananthapuram', 'Kadavanthra, Ernakulam',
       'Greams Road, Chennai', 'Bommanahalli, Bangalore',
       'T Nagar, Chennai', 'Yelahanka, Bangalore',
       'Hazrat Nizamuddin, Delhi', 'Old Rajendra Nagar, Delhi',
       'Dadar West, Mumbai', 'Indiranagar, Bangalore',
       'Perumbakkam, Chennai', 'Shaikpet, Hyderabad',
       'Vyttila, Ernakulam', 'Khar West, Mumbai', 'Goregaon West, Mumbai',
       'Bakkarwala, Delhi', 'Nesapakkam, Chennai',
       'BTM Layout 2nd Stage, Bangalore', 'Ashok Nagar, Chennai',
       'Chandivali, Mumbai', 'Uttam Nagar, Delhi',
       'Gujranwala Town, Delhi', 'Greater Kailash Part 1, Delhi',
       'Panchsheel Park, Delhi', 'Thoraipakkam, Chennai',
       'South Extension 2, Delhi', 'Kandivali East, Mumbai',
       'Pitampura, Delhi', 'Banashankari 3rd Stage, Bangalore',
       'Kolenchery, Ernakulam', 'Kumaraswamy Layout, Bangalore',
       'Vadapalani, Chennai', 'Manikonda, Hyderabad',
       'Gandhipuram, Coimbatore', 'Yeshwanthpur, Bangalore',
       'Ayanavaram, Chennai', 'Basaveshwaranagar, Bangalore',
       'Malad West, Mumbai', 'Vikas Puri, Delhi', 'Kondapur, Hyderabad',
       'Andheri East, Mumbai', 'Sulur, Coimbatore', 'Adyar, Chennai',
       'Krishna Nagar, Delhi', 'Langer House, Hyderabad',
       'Thiruvanmiyur, Chennai', 'Dwarka, Delhi', 'Bhandup West, Mumbai',
       'Janak Puri, Delhi', 'Rajajinagar, Bangalore',
       'South Extension 1, Delhi', 'Kemps Corner, Mumbai',
       'Peelamedu, Coimbatore', 'Kandivali West, Mumbai',
       'Thevara, Ernakulam', 'Wilson Garden, Bangalore', 'Wadala, Mumbai',
       'Pahar Ganj, Delhi', 'Chanchalguda, Hyderabad',
       'Chikkadpally, Hyderabad', 'Pasur-avanashi, Coimbatore',
       'Nagarbhavi, Bangalore', 'Lajpat Nagar, Delhi',
       'Mayur Vihar Ph-I, Delhi', 'Dilshad Garden, Delhi',
       'Vijayanagar, Bangalore', 'Alwarpet, Chennai',
       'Pappanamcode, Thiruvananthapuram', 'Aluva, Ernakulam',
       'Nariman Point, Mumbai', 'Kilkattalai, Chennai',
       'Dilsukhnagar, Hyderabad', 'Kurla West, Mumbai',
       'Begumpet, Hyderabad', 'Kaloor, Ernakulam',
       'Hitech City, Hyderabad', 'Goregaon East, Mumbai',
       'Velandipalayam, Coimbatore', 'Ghatkopar East, Mumbai',
       'Mulund West, Mumbai', 'Yousufguda, Hyderabad',
       'Ghatkopar West, Mumbai', 'TVM Beach, Thiruvananthapuram',
       'Vanagaram, Chennai', 'Worli, Mumbai',
       'Koramangala 1 Block, Bangalore', 'Saki Vihar Road, Mumbai',
       'Versova, Mumbai', 'CV Raman Nagar, Bangalore',
       'Secunderabad, Hyderabad', 'BTM Layout 1st Stage, Bangalore',
       'Ramkoti, Hyderabad', 'MRC Nagar, Chennai',
       'Malkajgiri, Hyderabad', 'Gachibowli, Hyderabad',
       'Mogappair West, Chennai', 'Mayur Vihar Ph-III, Delhi',
       'Kurla East, Mumbai', 'Ashok Vihar, Delhi', 'Mahim, Mumbai',
       'Villivakkam, Chennai', 'Srinagar Colony, Hyderabad',
       'Chromepet, Chennai', 'Pammal, Chennai', 'Banashankari, Bangalore',
       'Velachery, Chennai', 'Chanakyapuri, Delhi',
       'Kalyan Nagar, Bangalore', 'Oshiwara, Mumbai',
       'Karapakkam, Chennai', 'Borivali, Mumbai', 'Mylapore, Chennai',
       'Electronics City, Bangalore', 'Perungudi, Chennai',
       'Basavanagudi, Bangalore', 'MG Road, Bangalore',
       'Thiruvottiyur, Chennai', 'Greater Kailash Part 2, Delhi',
       'Bilekahalli, Bangalore', 'Nanganallur, Chennai', 'Rohini, Delhi',
       'Thrikkakara, Ernakulam', 'Manapakkam, Chennai',
       'Bellandur, Bangalore', 'Ameerpet, Hyderabad',
       'Thiruvallom, Thiruvananthapuram', 'R.S. Puram, Coimbatore',
       'Kumarapuram, Thiruvananthapuram', 'Palam Colony, Delhi',
       'Manali, Chennai', 'Valasaravakkam, Chennai',
       'Barkatpura, Hyderabad', 'Singanallur, Coimbatore',
       'Mulund, Mumbai', 'Dadar East, Mumbai', 'Borabanda, Hyderabad',
       'Model Town 3, Delhi', 'Ulsoor, Bangalore',
       'Bhayandar West, Mumbai', 'Hari Nagar, Delhi',
       'Horamavu, Bangalore', 'Santacruz East, Mumbai',
       'OMR Road, Chennai', 'Kammana Halli, Bangalore',
       'Tilak Nagar, Delhi', 'Panathur, Bangalore',
       'Rajarajeshwarinagar, Bangalore', 'Paravur, Ernakulam',
       'Preet Vihar, Delhi', 'Chembur East, Mumbai', 'Jakkur, Bangalore',
       'Vanasthalipuram, Hyderabad', 'Mandaveli, Chennai',
       'Kumara Park West, Bangalore', 'Domlur, Bangalore',
       'Jeevanbhimanagar, Bangalore', 'Santacruz West, Mumbai',
       'Shankar Vihar, Delhi', 'Jogeshwari East, Mumbai',
       'Kasavanahalli, Bangalore', 'Ambalamukku, Thiruvananthapuram',
       'Jhilmil Colony, Delhi', 'Dwarka Sector 7, Delhi',
       'Tatabad, Coimbatore', 'Marine Lines, Mumbai',
       'Tolichowki, Hyderabad', 'Sundarapuram, Coimbatore',
       'Kothanur, Bangalore', 'Chinmaya Nagar, Chennai',
       'Vasant Vihar, Delhi', 'Mehdipatnam, Hyderabad',
       'Kadugodi, Bangalore', 'Ganapathy, Coimbatore',
       'SR Nagar, Hyderabad', 'Perambur, Chennai', 'Opera House, Mumbai',
       'Selvapuram, Coimbatore', 'Karkardooma, Delhi',
       'Alwarthirunagar, Chennai', 'KR Puram, Bangalore',
       'Ramesh Nagar, Delhi', 'Malakpet, Hyderabad',
       'Tondiarpet, Chennai', 'Vikrampuri Colony, Hyderabad',
       'Besant Nagar, Chennai', 'Vasant Kunj, Delhi',
       'Banaswadi, Bangalore', 'BTM Layout, Bangalore',
       'Medavakkam, Chennai', 'Vileparle West, Mumbai',
       'Sahakaranagar, Bangalore', 'LB Nagar, Hyderabad',
       'Punjagutta, Hyderabad', 'Yamuna Vihar, Delhi',
       'Marathahalli, Bangalore', 'JP Nagar 2 Phase, Bangalore',
       'Rani Bagh, Delhi', 'Jayamahal, Bangalore', 'Nagpada, Mumbai',
       'Kundalahalli, Bangalore', 'Kailash Colony, Delhi',
       'Pandav Nagar, Delhi', 'Karkhana, Hyderabad',
       'West Mambalam, Chennai', 'Aminjikarai, Chennai',
       'Madipakkam, Chennai', 'Charkop, Mumbai', 'Adarsh Nagar, Delhi',
       'Dadar, Mumbai', 'Kaggadasapura, Bangalore', 'Matunga, Mumbai',
       'Sun city, Hyderabad', 'Mahadevapura, Bangalore',
       'Kalady, Ernakulam', 'Anna Nagar West, Chennai',
       'Mayur Vihar Ph-II, Delhi', 'Tis Hazari, Delhi',
       'Vennala, Ernakulam', 'Mira Road, Mumbai', 'Alwal, Hyderabad',
       'Trimulgherry, Hyderabad', 'Raja Annamalai Puram, Chennai',
       'JP Nagar 7 Phase, Bangalore', 'Old Bowenpally, Hyderabad',
       'Santosh Nagar, Hyderabad', 'Hope College, Coimbatore',
       'Mulund East, Mumbai', 'Mount Road, Chennai',
       'Patel Nagar West, Delhi', 'Jayanagar 4 Block, Bangalore',
       'West Marredpally, Hyderabad', 'Jagriti Enclave, Delhi',
       'Sarita Vihar, Delhi', 'Rajendra Nagar, Hyderabad',
       'Thudiyalur, Coimbatore', 'Bhayandar East, Mumbai',
       'Narayanguda, Hyderabad', 'Kothapet, Hyderabad',
       'KK Nagar, Chennai', 'Tripunithura, Ernakulam',
       'Model Town, Delhi', 'Suchitra Circle, Hyderabad',
       'Pusa Road, Delhi', 'Vijaynagar Colony, Hyderabad',
       'Alandur, Chennai', 'Cuffe Parade, Mumbai', 'Kalkaji, Delhi',
       'Saibaba Colony, Coimbatore', 'Kattakada, Thiruvananthapuram',
       'Jogeshwari West, Mumbai', 'Erragadda, Hyderabad',
       'Tilak Nagar, Hyderabad', 'Edapally, Ernakulam',
       'Patparganj, Delhi', 'Sainikpuri, Hyderabad',
       'Nanjundapuram, Coimbatore', 'Nizampet, Hyderabad',
       'Kolathur, Chennai', 'Chamarajpet, Bangalore',
       'Kala Ghoda, Mumbai', 'Padmarao Nagar, Hyderabad',
       'Uppal, Hyderabad', 'Guduvanchery, Chennai',
       'Satya Niketan, Delhi', 'Chanda Nagar, Hyderabad',
       'Sowripalayam, Coimbatore', 'Vikhroli West, Mumbai',
       'Rajouri Garden, Delhi', 'Alaknanda, Delhi',
       'Millers Road, Bangalore', 'Kandanchavadi, Chennai',
       'Vigyan Vihar, Delhi', 'Bandra East, Mumbai',
       'Vilankurichi, Coimbatore', 'Malad East, Mumbai',
       'Prabhadevi, Mumbai', 'Ulloor, Thiruvananthapuram',
       'Rajakilpakkam, Chennai', 'Greater Kailash, Delhi',
       'Madinaguda, Hyderabad', 'Borivali East, Mumbai', 'Juhu, Mumbai',
       'Mugalivakkam, Chennai', 'Hebbal, Bangalore', 'Kirti Nagar, Delhi',
       'Balaramapuram, Thiruvananthapuram', 'Bhandup East, Mumbai',
       'VV Puram, Bangalore', 'Kilpauk, Chennai', 'Jacob Circle, Mumbai',
       'Singasandra, Bangalore', 'Khairatabad, Hyderabad',
       'Coimbatore Aerodrome, Coimbatore', 'J.C Nagar, Bangalore',
       'Naraina Vihar, Delhi', 'Virugambakkam, Chennai',
       'RK Puram, Delhi', 'Banashankari 1st Stage, Bangalore',
       'Lajpat Nagar 4, Delhi', 'Jayanagar 5 Block, Bangalore',
       'Kalyanpuri, Hyderabad', 'Tambaram, Chennai', 'Laxmi Nagar, Delhi',
       'Anand Vihar, Delhi', 'Charni Road, Mumbai',
       'Patel Nagar East, Delhi', 'Jayanagar 9 Block, Bangalore',
       'Ecil, Hyderabad', 'Ramamurthy Nagar, Bangalore',
       'Raj Nagar - 2, Delhi', 'Chunabhatti, Mumbai',
       'Vikhroli East, Mumbai', 'Shakarpur, Delhi', 'Shahdara, Delhi',
       'Govandi, Mumbai', 'Mira Bhayandar, Mumbai',
       'Doddanekundi, Bangalore', 'Madhu Vihar, Delhi', 'Guindy, Chennai',
       'Palarivattom, Ernakulam', 'Charminar, Hyderabad',
       'Old Airport Road, Bangalore', 'Sarjapur Road, Bangalore',
       'Okhla, Delhi', 'Baghlingampally, Hyderabad', 'Trombay, Mumbai',
       'HRBR Layout, Bangalore', 'Fort, Mumbai', 'Shastri Nagar, Delhi',
       'Red Hills, Chennai', 'New BEL Road, Bangalore',
       'Park Town, Chennai', 'Frazer Town, Bangalore',
       'Falaknuma, Hyderabad', 'Rohini Sector 7, Delhi',
       'East Of Kailash, Delhi', 'Chintadripet, Chennai',
       'Tagore Garden, Delhi', 'Tri Nagar, Delhi',
       'Muttada, Thiruvananthapuram', 'Munnekollal, Bangalore',
       'TV Museum, Thiruvananthapuram', 'Shivalik, Delhi',
       'Neb Sarai, Delhi', 'Mahalakshmi Layout, Bangalore',
       'Mankhurd, Mumbai', 'Kamla Nagar, Delhi',
       'Saravanampatti, Coimbatore', 'Selaiyur, Chennai',
       'Saligramam, Chennai', 'Thirumullaivoyal, Chennai',
       'Teynampet, Chennai', 'Kochi, Ernakulam',
       'Vidyaranyapura, Bangalore', 'Mogappair, Chennai',
       'Mazgaon, Mumbai', 'Shivaji Nagar, Bangalore', 'Jangpura, Delhi',
       'Kaudiar Square, Thiruvananthapuram', 'Arumbakkam, Chennai',
       'Cherai, Ernakulam', 'Mira-Bhayandar Road, Mumbai',
       'Ram Nagar, Delhi', 'Parel, Mumbai', 'Thanisandra, Bangalore',
       'Pragathi Nagar, Hyderabad', 'Karamana, Thiruvananthapuram',
       'AECS Layout, Bangalore', 'Nizamuddin East, Delhi',
       'Ramanathapuram, Coimbatore', 'Anna Nagar, Chennai',
       'Shenoy Nagar, Chennai', 'Siddhapudur, Coimbatore',
       'Keshav Puram, Delhi', 'Edakochi, Ernakulam',
       'Nagawara, Bangalore', 'Chintal, Hyderabad',
       'Malviya Nagar, Delhi', 'Karwan, Hyderabad',
       'Vazhakulam, Ernakulam', 'PMG Jn, Thiruvananthapuram',
       'Dwarka Sector 6, Delhi', 'Viveknagar, Bangalore',
       'Balapur, Hyderabad', 'Banashankari 2nd Stage, Bangalore',
       'Azadpur, Delhi', 'Moti Nagar, Delhi', 'Sakinaka, Mumbai',
       'Thoppumpady, Ernakulam', 'Sanath Nagar, Hyderabad',
       'Royapettah, Chennai', 'Koramangala 5 Block, Bangalore',
       'Kanjurmarg, Mumbai', 'Ernakulam College, Ernakulam',
       'Urapakkam, Chennai', 'Coimbatore Ukkadam, Coimbatore',
       'Sreekaryam, Thiruvananthapuram', 'Ernakulam North, Ernakulam',
       'Sultanpur, Delhi', 'Banerji Road, Ernakulam',
       'Balkampet, Hyderabad', 'Kavundampalayam, Coimbatore',
       'Kanchanbagh, Hyderabad', 'Patel Nagar, Delhi', 'Kilokri, Delhi',
       'Hoodi, Bangalore', 'New Seemapuri, Delhi',
       'Seshadripuram, Bangalore', 'Vijaynagar, Delhi',
       'Bowenpally, Hyderabad', 'Ondipudur, Coimbatore',
       'Triplicane, Chennai', 'Richmond Town, Bangalore',
       'New Rajendra Nagar, Delhi', 'Jahangirpuri, Delhi',
       'Vivek Vihar, Delhi', 'Malleshpalya, Bangalore',
       'Pezhakkappilly, Ernakulam', 'Lingampally, Hyderabad',
       'Jamia Nagar, Delhi', 'Begum Bazar, Hyderabad',
       'Lower Parel, Mumbai', 'ECR Road, Chennai', 'Nangloi, Delhi',
       'Chintalmet, Hyderabad', 'West Of Chord Road, Bangalore',
       'SV Road, Mumbai', 'JP Nagar 5 Phase, Bangalore',
       'Sanjay Nagar, Bangalore', 'Panampilly Nagar, Ernakulam',
       'Dharavi, Mumbai', 'Abbigere, Bangalore',
       'Manacaud, Thiruvananthapuram', 'Poonamalle, Chennai',
       'Najafgarh, Delhi', 'Uttarahalli, Bangalore', 'Sembakkam, Chennai',
       'Tarnaka, Hyderabad', 'Nandanam, Chennai', 'Saidapet, Chennai',
       'Choolaimedu, Chennai', 'Perungalathur, Chennai',
       'Gulabi Bagh, Delhi', 'Jasola, Delhi',
       'JP Nagar 3 Phase, Bangalore', 'Uppilipalayam, Coimbatore',
       'Sadashivanagar, Bangalore', 'Rohini Sector 24, Delhi',
       'Muvattupuzha, Ernakulam', 'Khan Market, Delhi',
       'Abids, Hyderabad', 'Geeta Colony, Delhi', 'Madandapuram, Chennai',
       'Dwarka Sector 22, Delhi', 'Grant Road, Mumbai',
       'Jeedimetla, Hyderabad', 'Tambaram East, Chennai',
       'Kothaguda, Hyderabad', 'Hauz Khas, Delhi', 'Habsiguda, Hyderabad',
       'Breach Candy, Mumbai', 'Vidyanagar, Bangalore',
       'Begur, Bangalore', 'Dahisar, Mumbai', 'Pachalam, Ernakulam',
       'Perumbavoor, Ernakulam', 'Avadi, Chennai',
       'Coimbatore Central, Coimbatore', 'Lokhandwala, Mumbai',
       'Tiruvottiyur, Chennai', 'Ullal Upanagara, Bangalore',
       'Perurkada, Thiruvananthapuram', 'Ashok Vihar Phase 3, Delhi',
       'Walkeshwar, Mumbai', 'Saidabad, Hyderabad',
       'Koramangala 6 Block, Bangalore', 'New Ashok Nagar, Delhi',
       'Peddar Road, Mumbai', 'Aya Nagar, Delhi', 'JP Nagar, Bangalore',
       'Sasthamangalam, Thiruvananthapuram', 'Yakutpura, Hyderabad',
       'Sampangiramnagar, Bangalore', 'Kasturi nagar, Bangalore',
       'Pallavaram, Chennai', 'Moti Bagh, Delhi',
       'Mukherjee Nagar, Delhi', 'Byculla, Mumbai', 'Peeragarhi, Delhi',
       'Amberpet, Hyderabad', 'JP Nagar 6 Phase, Bangalore',
       'Sholinganallur, Chennai', 'Langford Road, Bangalore',
       'Cumballa Hill, Mumbai', 'Colaba, Mumbai',
       'Qutab Institutional Area, Delhi', 'Dommasandra, Bangalore',
       'Malabar Hill, Mumbai', 'Koramangala 8 Block, Bangalore',
       'Rohini Sector 22, Delhi', 'Lothkunta, Hyderabad',
       'HAL 2nd Stage, Bangalore', 'Jayanagar 7 Block, Bangalore',
       'Vadasserikonam, Thiruvananthapuram',
       'East Marredpally, Hyderabad', 'Kelambakkam, Chennai',
       'Chinchpokli, Mumbai', 'Delhi Cantt, Delhi',
       'Padmanabhanagar, Bangalore', 'Sheikh Sarai, Delhi',
       'Washermenpet, Chennai', 'Konanakunte, Bangalore',
       'Ashok Vihar Phase 1, Delhi', 'Thirumala, Thiruvananthapuram',
       'Sarjapura, Bangalore', 'JP Nagar 1 Phase, Bangalore',
       'JB Nagar, Mumbai', 'Paruthippara, Thiruvananthapuram',
       'Vikhroli, Mumbai', 'JP Nagar 8 Phase, Bangalore',
       'GTB Nagar, Delhi', 'Vidyanagar, Hyderabad',
       'Masab Tank, Hyderabad', 'Hafeezpet, Hyderabad',
       'Jeevan Park, Delhi', 'Dwarka Sector 5, Delhi',
       'Civil Lines, Delhi', 'Anand Niketan, Delhi',
       'Pappanaickenpalayam, Coimbatore', 'Koovappady, Ernakulam',
       'Dwarka, Sector 5, Delhi', 'Srirampuram, Bangalore',
       'Korattur, Chennai', 'Pappanaickenpudur, Coimbatore',
       'Gandhi Nagar, Delhi', 'Vignan Nagar, Bangalore',
       'Ganganagar, Bangalore', 'Elamakkara, Ernakulam',
       'Boduppal, Hyderabad', 'Tilak Nagar, Mumbai', 'Khetwadi, Mumbai',
       'Kengeri, Bangalore', 'Sion East, Mumbai',
       'Rohini Sector 6, Delhi', 'Kazhakuttam, Thiruvananthapuram',
       'Goregaon, Mumbai', 'Peroor, Thiruvananthapuram',
       'New Thippasandra, Bangalore', 'Jalahalli, Bangalore',
       'King Koti, Hyderabad', 'Kallambalam, Thiruvananthapuram',
       'Dwarka Sector 13, Delhi', 'Residency Road, Bangalore',
       'Radhakrishnan Salai, Chennai', 'Hulimavu, Bangalore',
       'Dasarahalli, Bangalore', 'Vileparle, Mumbai', 'Delhi, Delhi',
       'Kachiguda, Hyderabad', 'Venkitapuram, Coimbatore',
       'Kuniamuthur, Coimbatore', 'TV Chalai, Thiruvananthapuram',
       'Serilingampally, Hyderabad', 'RMV 2nd Stage, Bangalore',
       'Champapet, Hyderabad', 'Surya Niketan, Delhi',
       'Kovilpalayam, Coimbatore', 'Nampally, Hyderabad',
       'Siddapura, Bangalore', 'Neredmet, Hyderabad',
       'Vellakinar, Coimbatore', 'Egmore, Chennai',
       'Katwaria Sarai, Delhi', 'Navalur, Chennai', 'Mehrauli, Delhi',
       'HBR Layout, Bangalore', 'Subhash Nagar, Delhi',
       'Mallepally, Hyderabad', 'Eroor South, Ernakulam',
       'Lajpat Nagar III, Delhi', 'Kodungaiyur, Chennai',
       'Kuppakonanpudur, Coimbatore', 'Paradise, Hyderabad',
       'Rohini Sector 4, Delhi', 'Koramangala 4 Block, Bangalore',
       'Dwarka Sector 3, Delhi', 'Durga Puri, Delhi',
       'Kalamassery, Ernakulam', 'Gulmohar Park, Delhi',
       'Adugodi, Bangalore', 'Moti Nagar, Hyderabad',
       'Nallagandla, Hyderabad', 'Gowrivakkam, Chennai',
       'Periyar Nagar, Chennai', 'Austin Town, Bangalore',
       'Afzalgunj, Hyderabad', 'Cotton Hill, Thiruvananthapuram',
       'Goldwins, Coimbatore', 'Kuravankonam, Thiruvananthapuram',
       'Rohini Sector 3, Delhi', 'Lado Sarai, Delhi',
       'Koramangala 2 Block, Bangalore', 'Madangir, Delhi',
       'Marine Drive, Mumbai', 'Marine Drive, Ernakulam',
       'Angamaly, Ernakulam', 'Neelankarai, Chennai',
       'Churchgate, Mumbai', 'Kalapatti, Coimbatore', 'Nand Nagri, Delhi',
       'Kandivali, Mumbai', 'Madanpura, Mumbai', 'Hegde Nagar, Bangalore',
       'Domalguda, Hyderabad', 'Mumbai Central, Mumbai',
       'Vasanthnagar, Bangalore', 'Kapashera, Delhi',
       'August Kranti Marg, Delhi', 'Krishna Nagar, Hyderabad',
       'Lal baug, Mumbai', 'Perumathura, Thiruvananthapuram',

In [571]:
df_train['City'] = df_train['Place'].str.split(',').str[1]
df_train['Street'] = df_train['Place'].str.split(',').str[0]
df_train['City'].fillna("Unknown",inplace = True)
df_train['Street'].fillna("Unknow",inplace = True)

In [572]:
df_test['City'] = df_test['Place'].str.split(',').str[1]
df_test['Street'] = df_test['Place'].str.split(',').str[0]
df_test['City'].fillna("Unknown",inplace = True)
df_test['Street'].fillna("Unknow",inplace = True)

In [573]:
df_train.drop('Miscellaneous_Info',axis=1,inplace=True)

In [574]:
df_test.drop('Miscellaneous_Info',axis=1,inplace=True)

In [575]:
df_train['Qualification']

0                                   BHMS, MD - Homeopathy
1                            BAMS, MD - Ayurveda Medicine
2                          MBBS, MS - Otorhinolaryngology
3                                     BSc - Zoology, BAMS
4                                                    BAMS
5                                                    BAMS
6                                                    BHMS
7                                                     BDS
8                             MBBS, MD - General Medicine
9                                                BSc, BDS
10                                    MBBS, MS, DNB - ENT
11                                                   BAMS
12                                               BDS, MDS
13                BDS, MDS - Oral & Maxillofacial Surgery
14      MBBS, Diploma in Otorhinolaryngology (DLO), DN...
15                            MBBS, MD - General Medicine
16             MBBS, Diploma in Otorhinolaryngology (DLO)
17                                   MBBS, MF- Homeopathy
18                                         MBBS, MS - ENT
19                                                   MBBS
20                                          MDS, DNB, BDS
21                                        MBBS, DNB - ENT
22                                                   MBBS
23      MBBS, Fellowship of College of General Practic...
24                                             MBBS, DDVL
25                                                    BDS
26                                      MBBS, IBCLC (USA)
27      MBBS, MD - General Medicine, Post Graduate Dip...
28                                               BDS, MDS
29                           Diploma in Dermatology, MBBS
                              ...
5931    MBBS, MRCP (UK), Post Graduate Diploma in Diab...
5932                                                  BDS
5933                                BHMS, MD - Homeopathy
5934                                                 BHMS
5935      MDS - Periodontology and Oral Implantology, BDS
5936    MD - Homeopathy, LCEH, Diploma in Preventive &...
5937                                            BHMS, MSc
5938                                                 MBBS
5939                                BHMS, MD - Pediatrics
5940                               MBBS, MD - Dermatology
5941                                                 BHMS
5942                          MBBS, MD - General Medicine
5943                                                  BDS
5944                                             MS - ENT
5945    BDS, FDS Endodontics, Certified in Advanced Or...
5946                                                  BDS
5947                                                 BHMS
5948                                                 BAMS
5949                                                 BHMS
5950    MD - Dermatology , Venereology & Leprosy, MBBS...
5951                BDS, certification in smile designing
5952                                                 MBBS
5953    MD - Homeopathy, Post Graduate Diploma in Heal...
5954                                                 BHMS
5955                                      MD - Homeopathy
5956                                       MBBS, MS - ENT
5957                                                 MBBS
5958                                                 MBBS
5959                          MBBS, MD - General Medicine
5960                              BDS, MDS - Orthodontics
Name: Qualification, Length: 5961, dtype: object

In [576]:
df_train['Qual_1'] = df_train['Qualification'].str.split(',').str[0]
df_train['Qual_2'] = df_train['Qualification'].str.split(',').str[1]
df_train['Qual_3'] = df_train['Qualification'].str.split(',').str[2]

In [577]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5961 entries, 0 to 5960
Data columns (total 11 columns):
Qualification    5961 non-null object
Experience       5961 non-null object
Rating           5961 non-null int32
Place            5936 non-null object
Profile          5961 non-null object
Fees             5961 non-null int64
City             5961 non-null object
Street           5961 non-null object
Qual_1           5961 non-null object
Qual_2           3999 non-null object
Qual_3           1371 non-null object
dtypes: int32(1), int64(1), object(9)
memory usage: 489.1+ KB

In [578]:
df_train['Qual_2'].fillna("na",inplace = True)
df_train['Qual_3'].fillna("na",inplace = True)

In [579]:
df_test['Qual_1'] = df_test['Qualification'].str.split(',').str[0]
df_test['Qual_2'] = df_test['Qualification'].str.split(',').str[1]
df_test['Qual_3'] = df_test['Qualification'].str.split(',').str[2]

In [580]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 10 columns):
Qualification    1987 non-null object
Experience       1987 non-null object
Rating           1987 non-null int32
Place            1981 non-null object
Profile          1987 non-null object
City             1987 non-null object
Street           1987 non-null object
Qual_1           1987 non-null object
Qual_2           1378 non-null object
Qual_3           489 non-null object
dtypes: int32(1), object(9)
memory usage: 147.6+ KB

In [581]:
df_test['Qual_2'].fillna("na",inplace = True)
df_test['Qual_3'].fillna("na",inplace = True)

In [582]:
df_train['years_exp'] = df_train['Experience'].str.slice(stop=2).astype(int)

In [583]:
df_test['years_exp'] = df_test['Experience'].str.slice(stop=2).astype(int)

In [584]:
df_train = pd.get_dummies(df_train, columns=['Profile'])

In [585]:
df_test = pd.get_dummies(df_test, columns=['Profile'])

In [586]:
df_train.head()

,Qualification,Experience,Rating,Place,Fees,City,Street,Qual_1,Qual_2,Qual_3,years_exp,Profile_Ayurveda,Profile_Dentist,Profile_Dermatologists,Profile_ENT Specialist,Profile_General Medicine,Profile_Homeopath
0,"BHMS, MD - Homeopathy",24 years experience,100,"Kakkanad, Ernakulam",100,Ernakulam,Kakkanad,BHMS,MD - Homeopathy,na,24,0,0,0,0,0,1
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98,"Whitefield, Bangalore",350,Bangalore,Whitefield,BAMS,MD - Ayurveda Medicine,na,12,1,0,0,0,0,0
2,"MBBS, MS - Otorhinolaryngology",9 years experience,0,"Mathikere - BEL, Bangalore",300,Bangalore,Mathikere - BEL,MBBS,MS - Otorhinolaryngology,na,9,0,0,0,1,0,0
3,"BSc - Zoology, BAMS",12 years experience,0,"Bannerghatta Road, Bangalore",250,Bangalore,Bannerghatta Road,BSc - Zoology,BAMS,na,12,1,0,0,0,0,0
4,BAMS,20 years experience,100,"Keelkattalai, Chennai",250,Chennai,Keelkattalai,BAMS,na,na,20,1,0,0,0,0,0

In [587]:
df_train = df_train.drop(df_train[['Qualification','Experience','Place']], axis=1)

In [588]:
df_test = df_test.drop(df_test[['Qualification','Experience','Place']], axis=1)

In [589]:
df_train.head()

,Rating,Fees,City,Street,Qual_1,Qual_2,Qual_3,years_exp,Profile_Ayurveda,Profile_Dentist,Profile_Dermatologists,Profile_ENT Specialist,Profile_General Medicine,Profile_Homeopath
0,100,100,Ernakulam,Kakkanad,BHMS,MD - Homeopathy,na,24,0,0,0,0,0,1
1,98,350,Bangalore,Whitefield,BAMS,MD - Ayurveda Medicine,na,12,1,0,0,0,0,0
2,0,300,Bangalore,Mathikere - BEL,MBBS,MS - Otorhinolaryngology,na,9,0,0,0,1,0,0
3,0,250,Bangalore,Bannerghatta Road,BSc - Zoology,BAMS,na,12,1,0,0,0,0,0
4,100,250,Chennai,Keelkattalai,BAMS,na,na,20,1,0,0,0,0,0

In [590]:
df_test.head()

,Rating,City,Street,Qual_1,Qual_2,Qual_3,years_exp,Profile_Ayurveda,Profile_Dentist,Profile_Dermatologists,Profile_ENT Specialist,Profile_General Medicine,Profile_Homeopath
0,0,Mumbai,Ghatkopar East,MBBS,na,na,35,0,0,0,0,1,0
1,0,Hyderabad,West Marredpally,MBBS,Diploma in Otorhinolaryngology (DLO),na,31,0,0,0,1,0,0
2,70,Chennai,KK Nagar,MBBS,DDVL,na,40,0,0,1,0,0,0
3,0,Delhi,New Ashok Nagar,BAMS,na,na,0,1,0,0,0,0,0
4,100,Bangalore,Kanakpura Road,BDS,MDS - Conservative Dentistry & Endodontics,na,16,0,1,0,0,0,0

In [591]:
from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
df_train["Qual_dummy1"] = le1.fit_transform(df_train["Qual_1"])
df_train["Qual_dummy2"] = le1.fit_transform(df_train["Qual_2"])
df_train["Qual_dummy3"] = le1.fit_transform(df_train["Qual_3"])
df_train["City_dummy"] = le1.fit_transform(df_train["City"])
df_train["street_dummy"] = le1.fit_transform(df_train["Street"])

In [592]:
le2 = LabelEncoder()
df_test["Qual_dummy1"] = le2.fit_transform(df_test["Qual_1"])
df_test["Qual_dummy2"] = le2.fit_transform(df_test["Qual_2"])
df_test["Qual_dummy3"] = le2.fit_transform(df_test["Qual_3"])
df_test["City_dummy"] = le2.fit_transform(df_test["City"])
df_test["street_dummy"] = le2.fit_transform(df_test["Street"])

In [593]:
df_train.columns.tolist()

['Rating',
 'Fees',
 'City',
 'Street',
 'Qual_1',
 'Qual_2',
 'Qual_3',
 'years_exp',
 'Profile_Ayurveda',
 'Profile_Dentist',
 'Profile_Dermatologists',
 'Profile_ENT Specialist',
 'Profile_General Medicine',
 'Profile_Homeopath',
 'Qual_dummy1',
 'Qual_dummy2',
 'Qual_dummy3',
 'City_dummy',
 'street_dummy']

In [595]:
df1 = df_train[['years_exp', 'Rating','Profile_Ayurveda','Profile_Dentist','Profile_Dermatologists','Profile_ENT Specialist','Profile_General Medicine','Profile_Homeopath','Qual_dummy1','Qual_dummy2','Qual_dummy3','City_dummy','street_dummy','Fees']]
X = df1.drop(['Fees'], axis=1)
y = df1['Fees']

In [601]:
X = df1.drop(labels=['Fees'], axis=1)
y = df1['Fees'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)

In [602]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error, mean_squared_error

In [603]:
from xgboost import XGBRegressor
xgb = XGBRegressor(learning_rate=0.02, 
                   gamma=100, 
                   max_depth=25,  
                   min_child_weight=1, 
                   max_delta_step=0, 
                   subsample=0.75,  
                   colsample_bylevel=0.95,  
                   colsample_bytree=0.70,  
                   reg_lambda=1)
xgb.fit(X_train, y_train)
y_pred1 = xgb.predict(X_cv)
y_pred1 = y_pred1.astype(int)
print('RMSLE:', sqrt(mean_squared_log_error(y_cv, y_pred1)))

[18:29:06] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSLE: 0.5915675488309798

In [608]:
import lightgbm as lgb
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_cv, label=y_cv)

param = {'objective': 'regression',
         'boosting': 'dart',
         'num_iterations': 152,   
         'learning_rate': 0.1,  
         'num_leaves': 52, 
         'max_depth': 28, 
         'min_data_in_leaf': 3, 
         'feature_fraction': 0.66,  
         'feature_fraction_seed': 10,
         'drop_seed': 4,
         'alpha': 100,
         'max_bin': 7,
         'min_data_in_bin': 45,   
         'metric': 'l2_root'
         }

lgbm = lgb.train(params=param,
                 verbose_eval=0,
                 train_set=train_data,
                 valid_sets=[test_data])

y_pred2 = lgbm.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(y_cv, y_pred2)))

RMSLE: 0.5980248465195859

In [610]:

from sklearn.ensemble import BaggingRegressor
br = BaggingRegressor(base_estimator=None, 
                      n_estimators=80,  
                      max_samples=1.0, 
                      max_features=1.0, 
                      bootstrap=True, 
                      bootstrap_features=True,
                      oob_score=True,
                      n_jobs=None, 
                      random_state=13, 
                      verbose=0)
br.fit(X_train, y_train)
y_pred5 = br.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(y_cv, y_pred5)))
print('RMSE:', sqrt(mean_squared_error(y_cv, y_pred5)))

RMSLE: 0.6145692128972285
RMSE: 167.39139248266974

In [611]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=29,  
                           criterion='mse', 
                           max_depth=58,  
                           min_samples_split=5, 
                           min_samples_leaf=2, 
                           min_weight_fraction_leaf=0.0, 
                           max_features='auto', 
                           max_leaf_nodes=None, 
                           min_impurity_decrease=0.20,  
                           bootstrap=True, 
                           oob_score=True, 
                           n_jobs=-1, 
                           random_state=11)  
rf.fit(X_train, y_train)
y_pred4 = rf.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(y_cv, y_pred4)))

RMSLE: 0.6254629221061538

In [619]:
#predict on test set
df2 = df_test[['years_exp', 'Rating','Profile_Ayurveda','Profile_Dentist','Profile_Dermatologists','Profile_ENT Specialist','Profile_General Medicine','Profile_Homeopath','Qual_dummy1','Qual_dummy2','Qual_dummy3','City_dummy','street_dummy']]
preds_1 = xgb.predict(df_test_xgb)
df2['Fees'] = preds_1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [621]:
df2.to_csv('fees predicted.csv')