In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
df_train=pd.read_excel('food_Train.Xlsx')

In [46]:
df_test=pd.read_excel('food_Test.Xlsx')

In [47]:
df_train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [48]:
df_test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [49]:
df_train.shape

(12690, 9)

In [50]:
 df_test.shape

(4231, 8)

In [51]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
TITLE            12690 non-null object
RESTAURANT_ID    12690 non-null int64
CUISINES         12690 non-null object
TIME             12690 non-null object
CITY             12578 non-null object
LOCALITY         12592 non-null object
RATING           12688 non-null object
VOTES            11486 non-null object
COST             12690 non-null int64
dtypes: int64(2), object(7)
memory usage: 892.3+ KB

In [52]:
df_train.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [53]:
df = pd.concat([df_train,df_test])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [54]:
df

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,TIME,TITLE,VOTES
0,Thane,1200.0,"Malwani, Goan, North Indian",Dombivali East,3.6,9438,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes
1,Chennai,1500.0,"Asian, Modern Indian, Japanese",Ramapuram,4.2,13198,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes
2,Chennai,800.0,"North Indian, Chinese, Biryani, Hyderabadi",Saligramam,3.8,10915,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes
3,Mumbai,800.0,"Tibetan, Chinese",Bandra West,4.1,6346,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes
5,Mumbai,800.0,"North Indian, Chinese, Seafood, Biryani",Vile Parle West,4.0,5618,12noon – 12:30AM (Mon-Sun),CASUAL DINING,550 votes
6,Bangalore,600.0,"Cafe, Chinese, Pizza, North Indian, Burger",Koramangala 6th Block,4.1,4383,"12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",CAFÉ,509 votes
7,Gurgaon,1600.0,Bar Food,Sector 29,4.3,1249,1pm – 1am (Mon-Sun),MICROBREWERY,1612 votes
8,Bangalore,300.0,"South Indian, North Indian",Bannerghatta Road,3.9,7062,7am – 10:30pm (Mon-Sun),QUICK BITES,101 votes
9,Hyderabad,200.0,North Indian,Dilsukhnagar,3.3,10109,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",QUICK BITES,219 votes
10,Bangalore,900.0,"North Indian, Chinese, Fast Food, Biryani",Koramangala 5th Block,4.1,38,12:30pm – 12:30AM (Mon-Sun),CASUAL DINING,244 votes
11,Bangalore,800.0,"Fast Food, Burger, Beverages",Indiranagar,4.0,844,"11am – 12:15AM (Mon, Tue, Wed, Thu, Fri, Sun)...","QUICK BITES,BEVERAGE SHOP",274 votes
12,Kochi,600.0,"Arabian, Mughlai",Chullickal,3.4,938,11am – 11pm (Mon-Sun),CASUAL DINING,15 votes
13,Kochi,400.0,South Indian,Edappally,-,4319,11am – 11:30pm (Mon-Sun),CASUAL DINING,NaN
14,Thane West,300.0,Maharashtrian,Majiwada,4.0,15024,"Closed (Mon),11am – 11pm (Tue-Sun)",QUICK BITES,160 votes
15,Hyderabad,1400.0,"Parsi, Hyderabadi",Jubilee Hills,4.5,12401,"11:30am – 11:30pm (Mon, Tue, Wed, Thu, Sun)...","CASUAL DINING,IRANI CAFE",2499 votes
16,Mumbai,900.0,"North Indian, Fast Food",Borivali West,3.6,5254,7:30am – 12midnight (Mon-Sun),CASUAL DINING,319 votes
17,Hyderabad,600.0,"North Indian, Hyderabadi, Chinese",Nagole,3.5,8259,11am – 12midnight (Mon-Sun),CASUAL DINING,121 votes
18,Andheri Lokhandwala,600.0,"Chinese, Thai",Andheri Lokhandwala,3.6,4009,11am – 11:45pm (Mon-Sun),CASUAL DINING,535 votes
19,New Delhi,200.0,"Bakery, Fast Food, Momos",Krishna Nagar,4.1,11841,"Closed (Mon),9am – 10pm (Tue-Sun)","BAKERY,QUICK BITES",350 votes
20,Hyderabad,350.0,"Continental, European",Hitech City,4.2,6465,9:30am – 10pm (Mon-Sun),CASUAL DINING,400 votes
21,New Delhi,500.0,"North Indian, Rolls, Momos",Karol Bagh,4.0,1048,10:30am – 11:30pm (Mon-Sun),QUICK BITES,1327 votes
22,New Delhi,450.0,"North Indian, Fast Food, Mughlai, Rolls",SDA,4.0,12499,11am – 3am (Mon-Sun),None,1191 votes
23,Bangalore,600.0,"Andhra, Chinese, North Indian, Biryani",Thippasandra,3.9,10412,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,533 votes
24,New Delhi,700.0,"Cafe, Italian, Chinese",Dwarka,4.2,2389,11am – 11pm (Mon-Sun),CAFÉ,493 votes
25,Kochi,400.0,"Biryani, North Indian",Kakkanad,3.8,6551,12noon – 11pm (Mon-Sun),QUICK BITES,372 votes
26,Bangalore,700.0,"North Indian, Chinese, BBQ",HSR,3.4,13446,"12:30pm – 11pm (Mon-Thu),12:30pm – 11:30pm...",CASUAL DINING,105 votes
27,Chennai,1400.0,Italian,Vadapalani,4.1,10277,"Closed (Mon),12noon – 3pm, 6pm – 11pm (Tue-Sun)","BAR,CASUAL DINING",178 votes
28,Chennai,1000.0,"Finger Food, North Indian, Continental, Italian",Neelangarai,4.3,4222,11am – 11pm (Mon-Sun),BAR,150 votes
29,Bangalore,1400.0,"Finger Food, Continental, Asian, North Indian",Koramangala 5th Block,4.2,6577,12:30pm – 1am (Mon-Sun),PUB,2456 votes
...,...,...,...,...,...,...,...,...,...
4201,Gurgaon,NaN,"Biryani, South Indian",Sector 37,3.5,13547,7am – 11pm (Mon-Sun),QUICK BITES,22 votes
4202,Chennai,NaN,"Biryani, Fast Food",Thousand Lights,4.2,9386,11am – 11pm (Mon-Sun),QUICK BITES,232 votes
4203,Chennai,NaN,"South Indian, Biryani, North Indian",Thuraipakkam,4.1,12971,"12noon – 3:30pm, 7:30pm – 11pm (Mon-Fri),12noo...",QUICK BITES,1697 votes
4204,Chennai,NaN,Bakery,Perungudi,3.2,15219,10am – 10pm (Mon-Sun),BAKERY,31 votes
4205,Bangalore,NaN,"Bakery, Desserts",New BEL Road,3.8,141,11am – 11pm (Mon-Sun),BAKERY,26 votes
4206,New Delhi,NaN,"European, Continental, North Indian",Rajendra Place,4.2,4325,24 Hours (Mon-Sun),FINE DINING,749 votes
4207,Chennai,NaN,"South Indian, North Indian, Chinese",K.K. Nagar,3.4,6158,7am – 11pm (Mon-Sun),QUICK BITES,26 votes
4208,Mumbai,NaN,"Chinese, North Indian",Worli,3.6,11799,11:30am – 12midnight (Mon-Sun),CASUAL DINING,251 votes
4209,Hyderabad,NaN,"Biryani, Chinese, Mughlai, North Indian, Hyder...",Kondapur,4.0,4992,10am – 2am (Mon-Sun),CASUAL DINING,125 votes
4210,Mumbai,NaN,"Chinese, North Indian, Mughlai",Santacruz East,3.3,11680,"11am – 4pm, 7pm – 12midnight (Mon-Sun)",CASUAL DINING,312 votes
4211,Hyderabad,NaN,"Fast Food, Bakery, Chinese",Ameerpet,3.2,2943,8am – 4am (Mon-Sun),"QUICK BITES,BAKERY",1246 votes
4212,Mumbai,NaN,North Indian,Kalbadevi,4.0,6204,"Closed (Mon),10am – 11:45pm (Tue-Sun)",CASUAL DINING,371 votes
4213,Hyderabad,NaN,"North Indian, South Indian, Chinese",Manikonda,2.6,14205,11am – 11pm (Mon-Sun),CASUAL DINING,62 votes
4214,Bangalore,NaN,"Fast Food, North Indian, South Indian",JP Nagar,3.7,10521,8am – 10pm (Mon-Sun),QUICK BITES,174 votes
4215,Mumbai,NaN,"Ice Cream, Desserts",Powai,4.3,6448,11am – 12:30AM (Mon-Sun),DESSERT PARLOR,1265 votes
4216,Chennai,NaN,"Chinese, North Indian, Arabian",Tambaram,3.6,499,11:30am – 11pm (Mon-Sun),QUICK BITES,171 votes
4217,Mumbai,NaN,"European, Mediterranean, Italian, Sushi",Juhu,4.1,14508,"7pm – 1:30am (Mon-Tue),12noon – 1:30am (Wed-Sun)","BAR,CASUAL DINING",1239 votes
4218,Bangalore,NaN,"North Indian, Biryani",Jalahalli,3.3,11667,12:30pm – 10:15pm (Mon-Sun),None,6 votes
4219,Bangalore,NaN,"Biryani, Hyderabadi, Chinese",Malleshwaram,4.1,6412,11:30am – 11:30pm (Mon-Sun),CASUAL DINING,226 votes
4220,Mumbai,NaN,"South Indian, North Indian, Fast Food, Chinese...",Mulund West,3.9,6199,7am – 10pm (Mon-Sun),CASUAL DINING,197 votes
4221,Mumbai,NaN,"North Indian, Mughlai, Chinese",Goregaon East,3.6,3265,9am – 1am (Mon-Sun),CASUAL DINING,441 votes
4222,Bangalore,NaN,"North Indian, Chinese, Kebab, Juices",JP Nagar,3.8,6973,"12noon – 4pm, 7pm – 11pm (Mon-Sun)",QUICK BITES,245 votes
4223,Mumbai,NaN,"Sindhi, Street Food",Lower Parel,NEW,6887,"11:30am – 4pm, 7pm – 11:30pm (Mon-Sun)",CASUAL DINING,NaN
4224,Bangalore,NaN,"Kerala, South Indian",Indiranagar,3.8,331,"12noon – 4pm, 7pm – 10:30pm (Mon-Sat),12noon –...",QUICK BITES,410 votes
4225,Mumbai,NaN,"North Indian, Mughlai, Chinese",Grant Road,4.0,1670,"6am – 12:30AM (Mon, Tue, Wed, Thu, Sat, Sun), ...",QUICK BITES,197 votes
4226,New Delhi,NaN,"North Indian, Mughlai, Chinese",Punjabi Bagh,3.9,9057,11:30am – 11:30pm (Mon-Sun),CASUAL DINING,287 votes
4227,Bangalore,NaN,"Biryani, North Indian, Sandwich, Salad, Wraps",HSR Layout,4.3,1247,11am – 1am (Mon-Sun),None,469 votes
4228,Faridabad,NaN,"Continental, North Indian",Sector 86,3.7,8617,9:30am – 10:30pm (Mon-Sun),QUICK BITES,53 votes
4229,Kochi,NaN,"Rolls, Beverages",Kochi,-,6485,"11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",QUICK BITES,NaN
4230,Bandra West,NaN,Mughlai,Perry Cross Road,3.7,2421,5pm – 1am (Mon-Sun),QUICK BITES,63 votes

In [55]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16921 entries, 0 to 4230
Data columns (total 9 columns):
CITY             16774 non-null object
COST             12690 non-null float64
CUISINES         16921 non-null object
LOCALITY         16793 non-null object
RATING           16917 non-null object
RESTAURANT_ID    16921 non-null int64
TIME             16921 non-null object
TITLE            16921 non-null object
VOTES            15315 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.3+ MB

CITY              147
COST             4231
CUISINES            0
LOCALITY          128
RATING              4
RESTAURANT_ID       0
TIME                0
TITLE               0
VOTES            1606
dtype: int64

In [56]:
#as we can see columns having null values in city,locality,rating,votes

In [57]:
df["RATING"]

0       3.6
1       4.2
2       3.8
3       4.1
4       3.8
5       4.0
6       4.1
7       4.3
8       3.9
9       3.3
10      4.1
11      4.0
12      3.4
13        -
14      4.0
15      4.5
16      3.6
17      3.5
18      3.6
19      4.1
20      4.2
21      4.0
22      4.0
23      3.9
24      4.2
25      3.8
26      3.4
27      4.1
28      4.3
29      4.2
       ...
4201    3.5
4202    4.2
4203    4.1
4204    3.2
4205    3.8
4206    4.2
4207    3.4
4208    3.6
4209    4.0
4210    3.3
4211    3.2
4212    4.0
4213    2.6
4214    3.7
4215    4.3
4216    3.6
4217    4.1
4218    3.3
4219    4.1
4220    3.9
4221    3.6
4222    3.8
4223    NEW
4224    3.8
4225    4.0
4226    3.9
4227    4.3
4228    3.7
4229      -
4230    3.7
Name: RATING, Length: 16921, dtype: object

In [58]:
df['RATING'] = df['RATING'].str.replace('NEW','0')
df['RATING'] = df['RATING'].str.replace('-', '0').astype(float)

In [59]:
#\d+ = one or more digits
df.VOTES.fillna('0',inplace=True)
df['VOTES']=df['VOTES'].str.extract('(\d+)').astype(float)

In [60]:
df['VOTES'].head()

0     49.0
1     30.0
2    221.0
3     24.0
4    165.0
Name: VOTES, dtype: float64

In [61]:
title_list=[]
for row in df['TITLE']:
    title_list.append(list(row.split(',')))
df['TITLE']=title_list

In [62]:
df_title=df['TITLE'].apply(lambda x: pd.Series(1, x))

In [63]:
cuisines_list=[]
for row in df['CUISINES']:
    cuisines_list.append(list(row.split(',')))

df['CUISINES']=cuisines_list

In [64]:
df_cuisines=df['CUISINES'].apply(lambda x: pd.Series(1, x))

In [65]:
locality_dummy=pd.get_dummies(df['LOCALITY'])
city_dummy=pd.get_dummies(df['CITY'])

In [66]:
df['CITY'].fillna('Unknown', inplace=True)  
df['LOCALITY'].fillna('Unknown', inplace=True) 
df['RATING'].fillna('0', inplace=True)

In [67]:
df['RATING']=df['RATING'].astype(float)

In [68]:
df.isnull().sum()

CITY                0
COST             4231
CUISINES            0
LOCALITY            0
RATING              0
RESTAURANT_ID       0
TIME                0
TITLE               0
VOTES               0
dtype: int64

In [69]:
df.drop(columns='TIME',inplace=True)
df.drop(columns='LOCALITY',inplace=True)
df.drop(columns='CITY',inplace=True)
df.drop(columns='CUISINES',inplace=True)
df.drop(columns='TITLE',inplace=True)

In [70]:
df = pd.concat([df,locality_dummy,city_dummy,df_cuisines,df_title], axis=1)

In [71]:
df = df.loc[:,~df.columns.duplicated()]

In [72]:
df.head()

,COST,RATING,RESTAURANT_ID,VOTES,(Main Market) Mayur Vihar Phase 2,(ground floor of Sunrise Chambers),1 st Cross street,1-7-172/1 Ecil Opposite,100 Ft Road,110009,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1200.0,3.6,9438,49.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500.0,4.2,13198,30.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,800.0,3.8,10915,221.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,800.0,4.1,6346,24.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300.0,3.8,15387,165.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
train_df=df.iloc[:12690,:]
test_df=df.iloc[12690:,:]

In [74]:
test_df.head()

,COST,RATING,RESTAURANT_ID,VOTES,(Main Market) Mayur Vihar Phase 2,(ground floor of Sunrise Chambers),1 st Cross street,1-7-172/1 Ecil Opposite,100 Ft Road,110009,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,NaN,4.3,4085,564.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,4.2,12680,61.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3.8,1411,350.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3.8,204,1445.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3.6,13453,23.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
train_df.fillna(0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [76]:
test_df.drop('COST', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [77]:
train_df.shape, test_df.shape

((12690, 2182), (4231, 2181))

In [78]:
X = train_df.drop(labels=['COST'], axis=1)
y = train_df['COST'].values
from sklearn.model_selection import train_test_split
train_X,test_X, train_Y,test_Y = train_test_split(X, y, test_size=0.25, random_state=1)

In [79]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_X, train_Y)
train_predictions = model.predict(train_X)

In [80]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(model, train_X, train_Y, cv=5, scoring='neg_mean_squared_error')

In [81]:
#Print model report:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error, r2_score
print("\nModel Report")
print("RMSE : " , np.sqrt(mean_squared_error(train_Y, train_predictions)))

Model Report
RMSE :  269.52511968276514

In [82]:
#Predict on testing data:
test_df.fillna(0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [83]:
preds_1 = model.predict(test_df)
test_df['COST'] = preds_1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [84]:
print('r2 train',r2_score(train_Y,train_predictions))

r2 train 0.8073909757631625